@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

.no-copy
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
																	


body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%
	background-color: $bg

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

*::selection
	background-color: $accent

a
	&:hover
		text-decoration: none
	&:focus
		text-decoration: none
	&:active
		text-decoration: none
	&:visited
		text-decoration: none



.img-responsive
	display: block
	max-width: 100%
	height: auto

.h1, .h2, .h3, .h4, .h5, .h6
	line-height: 1.4
	text-transform: uppercase

.text-center
	text-align: center

// .number
// 	font-family: firasans-ex, sans-serif






/* HEADER */
.header-line
	width: 100%
	height: 40px
	background-color: $dark_block

	.logo
		display: block
		width: 40px
		height: 40px
		background-color: $white
		font-family: cinzel-ex, sans-serif
		font-size: 38px
		line-height: 46px
		a
			color: $accent
		sup
			font-size: 25px

	.search-box
		width: 40px
		height: 40px
		background-color: $white
		float: right
		font-family: cinzel-ex, sans-serif
		font-size: 38px
		line-height: 46px
		a
			color: $accent
		sup
			font-size: 25px

.menu-line
	display: flex
	line-height: 40px
	ul
		list-style-type: none
		padding: 0
		margin: 0
		flex: 1
		display: flex
		justify-content: space-between
		li
			flex: 1
			width: 30%
			display: flex
			// flex-direction: row
			a
				margin: auto
				text-transform: uppercase
				color: $white
				font-weight: 300
				transition: ease 0.3s
				&:hover, &:focus
					text-decoration: none
					color: $white
					font-weight: 500
					letter-spacing: 0.5px
				&:active 
					color: $dark_text
					background-color: $white
			&.active
				a
					color: $dark_text
					background-color: $white
					padding: 0 5px
					&:hover, &:focus
						color: $dark_text
						background-color: $white
						letter-spacing: 0px
						font-weight: 300
/* END HEADER */

/* PAGE TITLE */
.page-title
	margin: 5px 0
	.title-flex
		display: flex
		justify-content: space-between
		.blog-title
			flex-basis: 40%;
			margin: auto
			text-align: center
			text-transform: uppercase
			color: $dark_text
			font-weight: 300
			font-size: 14px
			background-color: $white
			line-height: 30px
/* END PAGE TITLE */


/* POST ITEM */
.post-item
	margin-top: 40px

	.post-inf
		display: flex
		
		.post-cat
			flex: 1
			background-color: $accent
			color: $white
			height: 90px
			font-size: 22px
			font-weight: 300
			text-transform: uppercase
			display: flex
			flex-direction: column
			
			span
				padding: 7px 3px 0px
				margin: auto
				line-height: 35px
				// text-align: center
				flex: 15
			.gray-line
				flex: 1
				background-color: $bg
				width: 100%

		.post-cat	
			a
				color: $white	
				padding: 7px 3px 0px
				margin: auto
				line-height: 35px
				// text-align: center
				flex: 15


		.post-date
			flex: 1
			background-color: $light_block
			color: $light_text
			height: 90px
			font-size: 25px
			font-weight: 300
			text-transform: uppercase
			display: flex
			flex-direction: column
			span
				margin: auto
				font-size: 16px
				line-height: 17px
				text-align: center
				flex: 15
				padding: 5px 3px 0px
				.day
					display: block
					text-align: center
					font-size: 33px
					font-weight: 800
					line-height: 40px
			.gray-line
				flex: 1
				background-color: $bg
				width: 100%
	.post-text-wrap
		display: flex
		// flex: 6
		.post-text-small
			flex: 6
			background-color: $white

			h3
				color: $dark_text
				font-size: 20px
				font-weight: 500
				margin: 10px 20px 5px
				line-height: 24px
			p
				color: $dark_text
				font-size: 14px
				font-weight: 300
				margin: 0px 20px 10px
				text-align: justify
			.gray-line
				display: block
				background-color: $bg
				width: 93%
				height: 1px
				margin: 0 20px 
			.post-footer
				margin: 5px 20px 10px
				font-size: 14px
				color: $light_text
				.far
					font-size: 12px
					color: $light_text
					margin-right: 10px
				a
					color: $light_text
					transition: ease 0.5s
					&:hover
						color: $accent
				.post-action
					display: inline-block
					float: right
					.far
						font-size: 12px
/* END POST ITEM */			



/* PAGINATION */	
.pagination-wrap
	margin: 40px 40px
	.pagination-items
		display: flex
		justify-content: space-betwen
		
		.num-btn
			flex: 2
			display: flex
			ul
				list-style-type: none
				padding: 0
				margin: 0
				flex: 1
				display: flex
				justify-content: space-between
				li
					flex: 1
					display: flex
					a
						display: flex
						margin: auto
						text-transform: uppercase
						color: $white
						font-size: 15px
						font-weight: 300
						background-color: $light_text
						width: 70%
						transition: ease 0.5s
						&:hover, &:focus
							text-decoration: none
							color: $dark_text
							background-color: $white
						&:active 
							color: $dark_text
							background-color: $white
					span
						margin: auto
					&.active
						a
							color: $dark_text
							background-color: $white
							font-weight: 400
							transition: ease 0.5s
							&:hover, &:focus
								color: $dark_text
								background-color: $white
								font-weight: 400

		.next-btn, .prev-btn
			flex: 1
			display: flex
			a
				display: flex
				margin: auto
				background-color: $light_text
				color: $white
				width: 70%
				transition: ease 0.5s
				&:hover, &:focus
					text-decoration: none
					color: $dark_text
					background-color: $white
				span
					text-transform: uppercase
					margin: auto
/* END PAGINATION */


/* TOGGLE BUTTON */	

$w: 28px
$h: 3px

.sandwich 
	width: $w
	height: $w
	position: absolute
	top: 8px
	bottom: 0
	left: 0
	right: 0
	margin: auto
	z-index: 200
.sw-topper, .sw-bottom, .sw-footer
	background-color: $accent
.sw-topper
	position: relative
	top: 0
	width: $w 
	height: $h
	border: none
	border-radius: 4px 4px 4px 4px
	transition: transform 0.5s, top 0.2s
	display: block
			
.sw-bottom
	position: relative
	width: $w
	height: $h
	top: $h * 2.2
	border: none
	border-radius: 4px 4px 4px 4px
	transition: transform 0.5s, top 0.2s
	transition-delay: 0.2s, 0s
	display: block
.sw-footer
	position: relative
	width: $w
	height: $h
	top: $h * 4.5
	border: none
	border-radius: 4px 4px 4px 4px
	transition: all 0.5s
	transition-delay: 0.1s
	display: block
.sandwich.active
	.sw-topper
		top: 9px
		transform: rotate(-45deg)
	.sw-bottom
		top: 6px
		transform: rotate(45deg)
	.sw-footer
		opacity: 0
		top: 0
		transform: rotate(180deg)

/* END TOGGLE BUTTON */	

/* TOGGLE MENU */
.toggle-mnu 
	background-color: $white
	width: 40px
	height: 40px
	float: right
	position: fixed
	z-index: 100
	border: none  
	right: 30px
	top: 0px
	&:focus
		outline: none

/* TOGGLE MENU */
.top-mnu
	position: fixed
	width: 100%
	height: 100%
	background-color: rgba(0,0,0,.9)
	z-index: 50
	right: 0
	top: 0
	display: none
	ul,li
		list-style-type: none
		padding: 0
		margin: 0
	ul
		margin-top: 100px
		text-align: center
		li
			a
				color: #fff
				display: block
				text-transform: uppercase
				height: 60px 
				
				span
					display: block
					position: relative
					top: -40px
					left: 0
					height: 100%
					transition: ease 0.5s
					&:hover
						background-color: rgba(255,255,255,.08)
/* END TOGGLE MENU */

/* TOP BUTTON */
.top
	position: fixed
	bottom: 20px
	// right: 100px
	right: -100px
	// transform: rotate(90deg) 
	font-size: 28px 
	z-index: 12
	// border-radius: 10px 
	background-color: $white
	width: 64px
	height: 64px
	text-align: center
	line-height: 64px
	cursor: pointer
	tansition: all .3s ease
	opacity: .5
	transition: ease 0.5s
	&:hover
		opacity: 1
	&.active
		right: 20px
/* END TOP BUTTON */









@import "media" // Always at the end
